body {
  background: #1b2b52;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}


form {
  width: 450px;
  margin: 17% auto;
}


.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}
.top-banner {
  margin-bottom: 2px;
  margin-top:30px;
  text-align: center;
  background-color:transparent;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #d45d7d;
}
  
#banner{
    /*position: absolute;*/
    left: -100px; 
    width: 160px;
    height: 60px; 
    background-color: yellow;    
    text-align: right;
}
#banner2{
    /*position: absolute;*/
    right: -500px; 
    width: 160px;
    height: 60px; 
    background-color: yellow;    
    text-align: right;
}
input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
  background-color: yellow;    
}
#leftbox {

    float:left; 
    background:transparent;
    width:160;
    height:600px;
}
#middlebox{
    float:center;
    /*position: absolute;*/
    background:transparent;
    /*width:50%;
    height:280px;*/
}
#rightbox{

    float:right;
    background:transparent;
    width:160;
    height:600px;
   
}
